html,
body {
  height: 100%;
}

.container-home {
  background-image: url("../assets/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.form-login {
  margin-top: auto;
  margin-bottom: auto;
  background-color: rgba(0, 0, 0, 0.5) !important;
  padding: 25px;
  width: 400px;
}

.form-login-header {
  color: #ffffff;
  margin-bottom: 25px;
}

.form-login-body-conected {
  color: #ffffff;
}

.form-login-body-conected input {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.form-login-body-button {
  color: #000000;
  background-color: #ffdd00;
  width: 100px;
  text-align: right;
}

.form-login-body-button:hover {
  color: black;
  background-color: white;
}

.form-login-fotter {
  color: #999999;
  margin-top: 25px;
}

.form-login-fotter a {
  color: #ffffff;
}
